<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example 52</title>
<link rel=stylesheet type="text/css" href="./ex_style_sheet.css">
</head>
<body>

<div ng-app="acumuladorApp" ng-controller="acumuladorAppCtrl">
	<h1 ng-class="tamTitular">Acumulador</h1>
	<select ng-model="tamTitular">
		<option value="titularpeq">Peque</option>
		<option value="titulargran">Gran</option>
	</select>
	<h2 ng-class="clases">Control de operación:</h2>
	¿Cuánto? <input type="text" ng-model="cuanto" size="4" placeholder="0" />
	<br/>
	<input type="button" value="+" ng-click="sumar()" />
	<input type="button" value="-" ng-click="restar()" />
	<h2>Totales</h2>
	<p ng-class="{positivo: total>=0, negativo: total <0}">
	En el acumulador llevamos <span>{{total}} </span>
	</p>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="./controller.js"></script>
</body></html>
