<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example 24</title>
</head>
<body>

<form>
<div ng-app ng-init="items=[];">
<p> Add an item:
</br>
<input type="text" ng-model="newItem"/>
<input type="button" value = "Add it to the list" ng-click="items.push(newItem); newItem = '';" />
</br>
<h2>Items that you added</h2>
<p ng-repeat="item in items" ng-init="step = $index">
Item: {{ item }}  - Iteración con indice: {{ step }}
</p>

</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</body></html>
