<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Example 31</title>
</head>
<body ng-app>

<form>
<div ng-init="sentences = [];">
<h1>Sentences</h1>
<p>Write a sentence, please <br/>
<input type="text" ng-model="newSentence" />
<input type="button" value="Add sentence" ng-click="sentences.push(newSentence); newSentence='';" />
</p>
<h1>Your sentences</h1>
<p ng-repeat="sent in sentences" ng-init="step = $index">
Sentence {{step}}: {{sent}}
</p>

</div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</body></html>
