<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	<title>Example 59</title>
	<link rel=stylesheet type="text/css" href="./ex_style_sheet.css">
</head>
<body>
<div ng-app="apiApp" ng-controller="apiAppCtrl as vm">
	<h1>Test Ajax with JSONP</h1>
	<p>
		Busca cerveza:
		<input type="text" ng-model="vm.nombre">
		<input type="button" value="Search" ng-click="vm.buscaCervezas()">
	</p>
	<aside>
		<h2>Filter:</h2>
		<input type="text" ng-model="vm.filtroCliente">
		<h2>Order</h2>
		<p>
			<button ng-click="vm.orden=false">Alphabetic</button>
			<br/>
			<button ng-click="vm.orden=true">Other</button>
		</p>
		<p>
			<input type="radio" name="campo" ng-model="vm.campo" value="name">Name
			<br/>
			<input type="radio" name="campo" ng-model="vm.campo" value="description">Description
		</p>
	</aside>
	<section>
		<ul>
			<li ng-repeat="cerveza in cervezas | filter: vm.filtroCliente | orderBy: vm.campo:vm.orden" ng-class="{even: $even, odd: $odd}">
				<span>{{$index + 1}}.- {{cerveza.name}}, </span> {{cerveza.description}}
			</li>
		</ul>
	</section>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<script src="./controller.js"></script>
<script>

</script>
</body></html>
